<!doctype html>
<html lang="en">
    
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<title>Homunculus Dashboard</title>
	
</head>
<body>
<!-- =========================
 NAVIGATION
========================== -->

<nav class="navbar">

    <div class="nav-brand">
        HOMUNCULUS
    </div>

    <div class="nav-links">

        <a href="/" class="nav-link">
            Dashboard
        </a>

        <a href="/positions" class="nav-link">
            Positions
        </a>

        <a href="/signals" class="nav-link">
            Signals
        </a>

        <a href="/position-events" class="nav-link">
            Position Events
        </a>

        <a href="/market-snapshots" class="nav-link">
            Market Snapshots
        </a>

    </div>

</nav>
	<div class="page">
		<header clss="header">
            <div class="header-left"></div>
			<h1>Homunculus Dashboard</h1>
            <div class="subtitle">
                    Arcane Data Interface
            </div>
            </div>
            
		</header>
        
         <section class="panel panel-glow">
            <h2>System Status</h2>
            	<p>Add table with open positions or other applicable dashboard features.</p>
         </section>
		
	</div>
</body>
</html>
