<!doctype html>
<html lang="en">
    
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<title>Positions</title>
	
</head>
<body>
<!-- =========================
 NAVIGATION
========================== -->

<nav class="navbar">

    <div class="nav-brand">
        HOMUNCULUS
    </div>

    <div class="nav-links">

        <a href="/" class="nav-link">
            Dashboard
        </a>

        <a href="/positions" class="nav-link">
            Positions
        </a>

        <a href="/signals" class="nav-link">
            Signals
        </a>

        <a href="/position-events" class="nav-link">
            Position Events
        </a>

        <a href="/market-snapshots" class="nav-link">
            Market Snapshots
        </a>

    </div>

</nav>
	<div class="page">
		<header class="header">
			<h1>Open Positions</h1>
		</header>

<table border="1">

<tr>
    <th>Entry Date</th>
    <th>Symbol</th>
    <th>Strike</th>
    <th>Expiration</th>
    <th>Quantity</th>
</tr>

{% for p in positions %}

<tr>
    <td>{{ p.opened_at }}</td>
    <td>{{ p.symbol }}</td>
    <td>{{ p.strike }}</td>
    <td>{{ p.expiration }}</td>
    <td>{{ p.quantity }}</td>
</tr>

{% endfor %}

</table>
</div>
</body>
</html>
